body {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: blueviolet;
}
.day {
    background-color: white;
    width: 70%;
    height: 450px;
    padding: 60px;
    margin-left: 130px;
}
.day >.sun {
    width: 15vw;
    height: 15vw;
    background-color: yellow;
    box-shadow: 1vw 1vw 1vw yellow;
    border-radius: 50%;
    border: none;
}

.night {
    background-color: rgb(13, 11, 11);
    width: 70%;
    height: 450px;
    padding: 60px;
    margin-left: 130px;
}
.night >.sun {
    width: 15vw;
    height: 15vw;
    background-color: rgb(239, 239, 232);
    box-shadow: 1vw 1vw 1vw rgb(233, 233, 227);
    border-radius: 50%;
    border: none;
}
button {
    width: 35vw;
    height: 8vw;
    font-size: 3vw;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 400px;
}

button:hover{
    background-color: grey;
}


